.task {
    display: grid;
    grid-template-columns: 0.5fr 10fr 1fr;
    align-items: center;
    padding: 1rem;
    gap: 0.75rem;
    width: 46rem;
    height: 4.5rem;

    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 0.75rem;
}

.check {
    width: 1.5rem;
    height: 1.5rem;
    height: 24px;
    left: 16px;
    top: 16px;
    border-radius: 0px;
}

.trash {
    justify-self: flex-end;
    align-self: flex-end;
    background: var(--gray-500);
    color: var(--gray-300);
    outline: 0px;
    border: 0px;
    cursor: pointer;
}

.task button:hover {
    color: var(--red-500);
}