.taskForm {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.inputTask {
    height: 3.375rem;
    width: 39.875rem;
    border-radius: 8px;
    padding: 1rem;
    gap: 0.5rem;
    background: var(--gray-500);

    border: 1px solid var(--gray-700);
    flex: none;
    order: 0;
    flex-grow: 1;
    color: var(--gray-200);
    outline: 0px;
}

.createButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 0px;
    gap: 8px;
    width: 90px;
    height: 52px;
    background: var(--blue-700);
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: var(--gray-100);
    cursor: pointer;
}

.createButton:hover {
    background: var(--blue-300);
}
strong {
    color: var(--purple-300);
}