.wrapper {
    height: 100%;
    display: block;
}

.container {
    display: block;
    height: 100%;
}
    
.mainContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}